services:
  - type: web
    name: airag-backend
    env: docker
    dockerfilePath: ./Dockerfile
    envVars:
      - key: JWT_SECRET_KEY
        generateValue: true
      - key: PORT
        value: 5000
    plan: free

  - type: web
    name: airag-frontend
    env: static
    buildCommand: cd frontend && npm install && npm run build
    staticPublishPath: frontend/dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html

